.env
.venv/
scratch/
__pycache__/
*.log
*.log*
*.logs
**/Logs/
Logs/
.progress.json
*.json
!Type*/requirements.txt
!sr_common/*.json
CHANGELOG.md
GEMINI.md
docs/
*.env
.DS_Store
**/.DS_Store
External_Logs/
docs/